<ion-header>
  <ion-toolbar >
    <ion-title>Turkey Best Foods&Drinks</ion-title>
    <ion-buttons slot="start">

      <ion-back-button mode="md" color="light" defaultHref="/home">

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title>FOODS DETAILS</ion-card-title>
     </ion-card-header>
      <ion-card-content>

        
    <ion-card>
    
    <img src="../../assets/icon/manti.jpg">
    <ion-card-header>
      <ion-card-subtitle>Manti (Turkish Ravioli)</ion-card-subtitle>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      A dish similar to a dumpling, Turkish Manti is a traditional and popular Turkish dish that is often known as Turkish ravioli with yoghurt. It comes in various forms from tiny to large pieces.
   
     <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺200-₺220</p>
     

    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/meze.jpg">
    <ion-card-header>
      <ion-card-subtitle>Meze</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      Meze is the ideal way to try a bit of everything. There are typically beans, salads, spreads, seafood such as fried calamari and stuffed mussels and cheeses. Generally, meze is served at the beginning of a meal accompanied by either soft drinks, wine or Turkish raki, where you can relax, eat and socialise.
   
     <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺400-₺450</p>
     

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/kumpir.jpg">
    <ion-card-header>
      <ion-card-subtitle>Kumpir</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      The fluffy insides are whipped up with butter and cheese then it’s up to you which toppings to add – meats, veggies, sauces and more cheese. This tasty dish is a very popular street food and can be found throughout Turkey. Kumpir is so delicious, it’s like a party in a baked potato.
   
     <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺100-₺150</p>
     

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/lahmacun.jpg">
    <ion-card-header>
      <ion-card-subtitle>Lahmacun</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      Lahmacun is essentially a Turkish pizza which has a thin crispy crust and is topped with a delicious fresh sauce composed of tomatoes, peppers, flavoursome minced meat and herbs. 
   
     <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺250-₺300</p>
     

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/kebab.jpg">
    <ion-card-header>
      <ion-card-subtitle>Iskender Kebap</ion-card-subtitle>
    
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      İskender kebap or Alexander kebab is one of the most famous meat foods of north western Turkey and is known as the ‘the king of Turkish kebabs’. An Alexander kebab is sort of like a döner kebab as it is made from finely cut grilled lamb covered with hot tomato sauce over pieces of pita bread, and is then liberally doused with melted sheep butter and yoghurt. This delicious kebab is a specialty of the Bursa region and now can be found throughout Turkey.
   
     <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺500-₺600</p>
     

    </ion-card-content>
  </ion-card>

</ion-card-content>
   
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>DRINKS DETAILS</ion-card-title>
   </ion-card-header>
    <ion-card-content>

  <ion-card>
  <img src="../../assets/icon/ayran.jpg">
  <ion-card-header>
    <ion-card-subtitle>Ayran (Turkish yogurt drink)</ion-card-subtitle>
    
   
  </ion-card-header>

  <ion-card-content class="cardtext">
    Ayran is a refreshing yogurt-based drink unique to Turkey. This chilled, salty, and slightly sour beverage has been around for centuries and is a traditional way to beat the heat.
 
   <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺50-₺70</p>
   

  </ion-card-content>
  
</ion-card>

<ion-card>
  <img src="../../assets/icon/boza.jpg">
  <ion-card-header>
    <ion-card-subtitle>Boza</ion-card-subtitle>
  
  </ion-card-header>

  <ion-card-content class="cardtext">
    Boza is one of the oldest Turkish drinks, and it’s a fermented beverage made from grains such as millet, barley, wheat, or corn. It is consumed more in winter as it is a densely structured drink and has a sour taste. It is served with cinnamon and roasted chickpeas on top.
 
   <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺80-₺95</p>
   

  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/icon/pilsen.jpg">
  <ion-card-header>
    <ion-card-subtitle>Efes Pilsen</ion-card-subtitle>
  
  </ion-card-header>

  <ion-card-content class="cardtext">
    Efes Pilsen is Turkey’s most famous beer, known for its iconic bottle design and crisp taste. When people talk about beer in Turkey, an Efes Pilsen beer bottle involuntarily comes to life before your eyes.
 
   <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺100-₺120</p>
   

  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/icon/raki.jpg">
  <ion-card-header>
    <ion-card-subtitle>Turkish Raki</ion-card-subtitle>
  
  </ion-card-header>

  <ion-card-content class="cardtext">
    Raki, a high-octane alcoholic drink with a unique taste of anise, is traditionally served in Turkish taverns. It is made of suma (white grapes pomace) and, anise seeds.

   <p> Turkish raki is potent, having %40-50 alcohol thus, it is commonly diluted with water or ice cubes to make the taste more enjoyable and (manageable).</p>
 
   <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺130-₺150</p>
   

  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/icon/suyu.jpg">
  <ion-card-header>
    <ion-card-subtitle>Şalgam Suyu (fermented turnip juice)</ion-card-subtitle>
  
  </ion-card-header>

  <ion-card-content class="cardtext">
    A valuable beverage in Turkish cuisine, Şalgam Suyu, is prepared using turnip or purple carrots, bulgur wheat, salt, and yeast. It usually has two different versions; mild and spicy hot.
 
   <p class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺75-₺80</p>
   

  </ion-card-content>
</ion-card>

<!--SCROLL TO TOP-->
<ion-fab  class="scrollTop" horizontal="end" vertical="bottom">
  <ion-fab-button color="dark" (click)="scrollToTop()">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

    </ion-card-content>
</ion-card>

 
</ion-content>

<!--FOOTER -->

<ion-footer class="copyright">

  <ul>
 
 <li></li>
 <li></li>
 <li>© 2022 - 2023 Turkishan Travels, all rights reserved.</li>
  </ul>
 </ion-footer>

