<ion-header>
  <ion-toolbar >
    <ion-title>Bodrum Castle</ion-title>
    <ion-buttons slot="start">

      <ion-back-button mode="md" color="light" defaultHref="/home">

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>



    <ion-card>
    <img src="../../assets/icon/bodrum.jpg">
    <ion-card-header>
      <ion-card-title>Bodrum Castle</ion-card-title>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
     
     <ul>

     <li><ion-icon color ="danger" name="time-outline"></ion-icon>  7 Days, 7 Nights</li>
     <li> <ion-icon color ="danger"  name="person-outline"></ion-icon>  Small Group or Private Tour</li>
    <li><ion-icon color="danger" name="bag-check-outline"></ion-icon>  Daily Departure Guaranteed</li>

     </ul> 

     <ion-button routerLink="/inquire"  class="btn" fill="outline" color="dark" >Inquire Now
      <ion-icon class="arrowicon" name="arrow-forward-outline"></ion-icon>
    </ion-button>


    </ion-card-content>
    
    
    
  
  </ion-card>
 
 
</ion-content>

<!--FOOTER -->

<ion-footer class="copyright">

  <ul>
 
 <li></li>
 <li></li>
 <li>© 2022 - 2023 Turkishan Travels, all rights reserved.</li>
  </ul>
 </ion-footer>

