ion-toolbar{
   
    --background: linear-gradient(to bottom right,#ff5f6d  , #ffc371);;
     color: white;
      }
      ion-title{
       color: white;
       font-family: cursive;
       
      }
     ion-card-title{
      text-align: center;
      
     }
     ion-card-subtitle{
      text-align: center;
      margin-top: 10px;
     }
    li{
      list-style-type: none;
    }
    
   
  
   ion-footer{
    
      background-image: linear-gradient(to bottom right,#ff5f6d  , #ffc371);;
  color:white;
  padding:3px;
  position: absolute;
  bottom:0;
  width:100%;
  text-transform: capitalize;
  text-align:center;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-size: 10px;
  
  }
  .btn{
       
    
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    user-select: none;
  
    width: auto;
   margin-bottom: 5px;
   
  }
  .arrowicon{
    margin-left: 10px;
  }
  
  