<ion-header>
  <ion-toolbar >
    <ion-title>Turkey Best Hotels</ion-title>
    <ion-buttons slot="start">

      <ion-back-button mode="md" color="light" defaultHref="/home">

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-title >
      HOTEL'S DETAILS
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

 
    <ion-card>
    <img src="../../assets/icon/cave1.jpg">
    <ion-card-header>
      <ion-card-subtitle>Divan Cave Hotel</ion-card-subtitle>

      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      The hotel is made up of ancient limestone walls and pathways connecting pretty terraces and leading into the snug rock-cut, grotto-like rooms typical of these dwellings. Being a family-run business, guests are treated to a particularly warm welcome by staff who put an emphasis on hospitable service. 
     
     <ul>
      <li class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺6000-₺7500</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="wifi-outline"></ion-icon> Free Wifi</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="car-outline"></ion-icon>  Free Parking</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="medkit-outline"></ion-icon>  Taking Safety Measures</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="pricetags-outline"></ion-icon>  Special Offer</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="location-outline"></ion-icon> Aydınlı Mah, Görçeli Sk. No : 5, 50180 Göreme/Nevşehir Merkez/Nevşehir, Turkey</li>

     </ul> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/romance.jpg">
    <ion-card-header>
      <ion-card-subtitle>Romance Istanbul Hotel</ion-card-subtitle>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      In the Romance Istanbul Hotel, we offer you the opportunity to witness the history and elegance of the Ottoman Empire with the talismanic shirts that had a great importance in the Ottoman Sultans’ lives. Each story will bring you back to the magical past while you explore the myths of the talisman.
     <ul>
      <li class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺1500-₺2000</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="wifi-outline"></ion-icon> Free Wifi</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="medkit-outline"></ion-icon>  Taking Safety Measures</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="location-outline"></ion-icon> Hoca Paşa, Hüdavendigar Cd. No:5, 34110 Fatih/İstanbul, Turkey </li>

     </ul> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/conrad.jpg">
    <ion-card-header>
      <ion-card-subtitle>Conrad Istanbul Bosphorus</ion-card-subtitle>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      Conrad Istanbul Bosphorus, is the only property of Conrad Hotels & Resorts in Turkey which is one of the best-known luxury hospitality brands in the world. Opened in 1992, and located in the European side of the city, the hotel was designed in a luxury style to respond to the expectations of both the discerning business and leisure travellers. Conrad Istanbul Bosphorus boasts totally new restaurants and bar where the finest dining and drinks are to be savoured along with awe-inspiring views of the city skyline and the Bosphorus Strait.
     <ul>
      <li class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺2500-₺3200</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="wifi-outline"></ion-icon> Free Wifi</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="car-outline"></ion-icon>  Free Parking</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="medkit-outline"></ion-icon>  Taking Safety Measures</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="pricetags-outline"></ion-icon>  Special Offer</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="location-outline"></ion-icon> Cihannüma, Saray Cd No:5, 34353 Beşiktaş/İstanbul, Turkey</li>

     </ul> 
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="../../assets/icon/concorde.jpg">
    <ion-card-header>
      <ion-card-subtitle>Concorde De Luxe Resort</ion-card-subtitle>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      Concorde De Luxe Resort is a five star hotel in Lara, Antalya, Turkey. It won the "Europe's All-inclusive Resort", the "Turkey's All-inclusive Resort" and the "Turkey's Leading Spa Resort" awards in 2008
     <ul>
      <li class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺3000-₺3600</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="wifi-outline"></ion-icon> Free Wifi</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="car-outline"></ion-icon>  Free Parking</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="medkit-outline"></ion-icon>  Taking Safety Measures</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="pricetags-outline"></ion-icon>  Special Offer</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="location-outline"></ion-icon> Güzeloba, Site, Tesisler Cd No:358 D:1, 07980 Aksu/Antalya, Turkey</li>

     </ul> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/icon/amira.jpg">
    <ion-card-header>
      <ion-card-subtitle>Hotel Amira Istanbul</ion-card-subtitle>
      
     
    </ion-card-header>
  
    <ion-card-content class="cardtext">
      This family-run boutique hotel is located just four blocks away from Istanbul's famous Blue Mosque, Sultanahmet Square and its surrounding attractions. Two historic Victorian corner homes were rebuilt from scratch, copying the original architectural design and as many of the interiors as possible.
     <ul>
      <li class="pricetag"><ion-icon color ="danger" name="pricetag-outline"></ion-icon> Price Range: ₺5500-₺7000</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="wifi-outline"></ion-icon> Free Wifi</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="fast-food-outline"></ion-icon> Restaurant</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="medkit-outline"></ion-icon>  Taking Safety Measures</li>
      <li class="iconinfo"> <ion-icon color ="danger" name="location-outline"></ion-icon> Küçük Ayasofya Mahallesi, Mustafa Paşa Sk. No:43, 34122 Fatih/İstanbul, Turkey
      </li>

     </ul> 
    </ion-card-content>
  </ion-card>


<!--SCROLL TO TOP-->
<ion-fab  class="scrollTop" horizontal="end" vertical="bottom">
  <ion-fab-button color="dark" (click)="scrollToTop()">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-card-content>
</ion-card>
</ion-content>

<!--FOOTER -->

<ion-footer class="copyright">

  <ul>
 
 <li></li>
 <li></li>
 <li>© 2022 - 2023 Turkishan Travels, all rights reserved.</li>
  </ul>
 </ion-footer>

