ion-toolbar{
   
    --background: linear-gradient(to bottom right,#ff5f6d  , #ffc371);;
     color: white;
      }
      ion-title{
       color: white;
       font-family: cursive;
       
      }
     
    li{
      list-style-type: none;
    
    }
   .arrowicon{
      margin-left: 10px;
   }
  
  
   ion-footer{
    background-image: linear-gradient(to right,#ff5f6d  , #ffc371);;
  color:white;
  padding:3px;
  position: absolute;
  bottom:0;
  width:100%;
  text-transform: capitalize;
  text-align:center;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-size: 10px;
  
  }
  .back{
    margin-bottom: 50px;
  }
  .iconinfo{
    
    font-size: 15px;
  }
  ion-card-title{
    text-align: center;
  }
  .scrollTop{
    margin-bottom: 90px;
  }
  