<ion-content [fullscreen]="true">
  
  <ion-slides [options]="slideOpts" #slides>

    <ion-slide *ngFor="let slide of slideImages"
      [style.background-image]="'url(' + slide + ')'">
    <ion-grid>
      
      <ion-row class="logo">
        <ion-col>
        <ion-img src="assets/icon/turkishan.png"></ion-img>
        <ion-label><p class="ion-text-left logoLabel">Plan your dream holiday
          <p class="ion-text-left ">With us!</p>
        </ion-label>
      </ion-col>
      </ion-row>
      <div class="btns">
        
        <ion-button size="large" class="btnI" expand="block"  routerLink="/sign-in" shape="round">Sign In</ion-button>
        <ion-button size="large" class="btnU" expand="block" routerLink="/sign-up" shape="round">Sign Up</ion-button>
      </div>
         
    </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>

